div.span3.docs-sidebar
  ul.nav.nav-list.docs-sidenav
    li
      a(href='#application') 
        i.icon-chevron-right
        | 应用
      ul
        li
          a(href='#app') app
        li
          a(href='#app_use') app.use()
        li
          a(href='#app_engine') app.engine()
        li
          a(href='#app_param') app.param()
        li
          a(href='#app_set') app.set()
        li
          a(href='#app_enabled') app.enabled()
        li
          a(href='#app_disabled') app.disabled()
        li
          a(href='#app_enable') app.enable()
        li
          a(href='#app_disable') app.disable()
        li
          a(href='#app_configure') app.configure()
        li
          a(href='#app_all') app.all()
        li
          a(href='#app_render') app.render()
        li
          a(href='#app_listen') app.listen()
    li
      a(href='#request') 
        i.icon-chevron-right
        | 请求
    li
      a(href='#response') 
        i.icon-chevron-right
        | 响应