div.span2.docs-sidebar
  ul.nav.nav-list.docs-sidenav
    li
      a(href='#application') 
        i.icon-chevron-right
        | 应用
    li
      a(href='#request') 
        i.icon-chevron-right
        | 请求
    li
      a(href='#response') 
        i.icon-chevron-right
        | 响应